name: Continuous Integration
on:
  pull_request:
  push:
permissions: read-all

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions: read-all
    strategy:
      fail-fast: true
      matrix:
        nodejs: ['12', '14', '16', '18', '20', '21', '22', '23']
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.nodejs }}
      - run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Test
        run: npm run test:ci
      - name: Attempt browser build
        run: npm run build:browser
